body{
	overflow:hidden;
}

.container-fluid{
	height:100%;
	width:75vw;
	
	
}

.col{
	
	height:100%;
	width: 50%;
	min-width:25%;


	
}

#topLeft{
	
border-style:solid;
border-color:#F5F5F5;
border-width:.5em;
	
}

#topRight{
border-style:solid;
border-color:#F5F5F5;
border-width:.5em;
	
}

#bottomLeft{
border-style:solid;
border-color:#F5F5F5;
border-width:.5em;

	
}

#bottomRight{
border-style:solid;
border-color:#F5F5F5;
border-width:.5em;
	
}

.row{
	height:50%;
	width:100%;

	
}

.data{
	left:300px;
}

input{
	position:absolute;
	left:5em;
	
}

form p{
	width:100px;
	height:20px;
	position:absolute;
	
}
.form-group.row{
	height:7%;

}

.topLeft header{
	height:5%;
}

.topLeft footer{
	height:10%;
}

form{
	height:85%;
	width:90%;
	position:absolute;
	left:4em;
	top:3em;
}

label{
	font-size:13px;
	white-space:nowrap;

}

#bottom{
	position:absolute;
	top:440px;
	
}


 

#topLeft hr:first-of-type{
	float:center; 
	width:95%;
	position:absolute;
	top:20px;

}

#topLeft hr:last-of-type{
	float:center;
	width:95%;
	position:absolute;
	top:27em;
}

#topRight hr{
	float:right;
	width:95%;
	position:absolute;
	top:20px;
	left:2em;

}

#bottomLeft hr:first-of-type{
	float:right;
	width:95%;
	position:absolute;
	top:1em;
}

#bottomLeft hr:last-of-type{
	float:right;
	width:95%;
	position:absolute;
	top:28em;
}

#bottomRight hr {
	float:right;
	width:95%;
	position:absolute;
	top:1em;
	left:2em;

}





