body{
	overflow:hidden;
	min-width:968px;
	min-height:807px;  
}


@media(max-height:807px){
	body{
		overflow:scroll;

	 
	}
}

@media(max-width:1650px){
	.form-control{
		font-size:.75rem !important;
	}
}

@media(max-width:1450px){
	.form-control{
		font-size:.5rem !important;
	}
}

@media(max-width:1250px){
	.form-control{
		font-size:.25rem !important;
	}
}

@media(max-width:1050px){
	.form-control{
		font-size:.1rem !important;
	}
}




.container-fluid{
	height:100%;
	width:75vw;
	
	
}

.col{
	
	height:100%;
	width: 50%;
	min-width:25%;


	
}

#topLeft{
	
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;
	
}

#topRight{
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;
	
}

#bottomLeft{
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;

	
}

#bottomRight{
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;
	
}

.row{
	height:50%;
	width:100%;

	
}

.data{
	left:300px;
}



form p{
	width:100px;
	height:20px;
	position:absolute;
	
}
.form-group.row{
	height:7%;
	width:95%;
	margin:3.5%;

}

.topLeft header{
	height:5%;
}

.topLeft footer{
	height:10%;
}

form{
	height:85%;
	width:90%;
	position:absolute;
	left:22%;
	top:9%;
}

label{
	font-size:13px;
	white-space:nowrap;

}


#topLeft hr:first-of-type{
	float:center; 
	width:95%;
	position:absolute;
	top:5%;

}

#topLeft hr:last-of-type{
	float:center;
	width:95%;
	position:absolute;
	top:83%;
}

#topRight hr{
	float:right;
	width:95%;
	position:absolute;
	top:5%;
	left:2em;

}

#bottomLeft hr:first-of-type{
	float:right;
	width:95%;
	position:absolute;
	top:4%;
}

#bottomLeft hr:last-of-type{
	float:right;
	width:95%;
	position:absolute;
	top:79%;
}

#bottomRight hr {
	float:right;
	width:95%;
	position:absolute;
	top:1em;
	left:2em;

}

.bar{
	visibility:hidden;
}

#lineGraph{

}

.form-control{
	width:80%;
	height:100%;
	position:absolute;
	left:100%;
	font-size:1rem;

}

button{
	font-size: .80vw !important; 
}

label{
	font-size: .70vw;
}

h5{
	font-size: 2vh !important;

}

p{
	font-size:1vw !important;
}
