body{
	overflow:auto;
	min-width:968px;
	min-height:807px;  
}


.container{
	height:1024px;
	width:903px;
	
	
}

.col{
	
	height:100%;
	


	
}

/*div.form-group.row{
	height:10%;
}*/

#topLeft{
	
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;
height:512px !important; 
width:290px !important;
float:left;
	
}

#topRight{
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;
height:512px !important; 
width:581px !important;
float:right;
	
}

#bottom{
outline-style:solid;
outline-color:#F5F5F5;
width:100%;
outline-width:.5vw;

	
}

#bottomRight{
outline-style:solid;
outline-color:#F5F5F5;
outline-width:.5vw;
	
}

.row{
	height:50%;
	width:100%;

	
}

.data{
	left:300px;
}



form p{
	width:100px;
	height:20px;
	position:absolute;
	
}
.form-group.row{
	height:7%;
	width:95%;
	margin:3.5%;

}

.topLeft header{
	height:5%;
}

.topLeft footer{
	height:10%;
}

form{
	height:85%;
 	width:90%;
	position:absolute ;
	left:10%;
	top:12%;

}

label{

	position:absolute;
	white-space:nowrap;
	width:20% !important;
	text-align:right;
	left:.004%;

}


#topLeft hr:first-of-type{
	float:center; 
	width:95%;
	position:absolute;
	top:6%;

}




#topRight hr:first-of-type{
	float:right;
	width:95%;
	position:absolute;
	top:6%;
}

#topRight hr:last-of-type{
	float:right;
	width:95%;
	position:absolute;
	top:83%;
	left:2em;

}

#bottom hr{
	float:right;
	width:95%;
	position:absolute;
	top:6%;
	left:2%;

}





.bar{
	visibility:hidden;
}

#lineGraph{

}

.form-control{
	width:20%;
	height:7%;
	position:absolute;
	left:55%;
	font-size:100%;

}

#enterVals:focus{
	color:#07CA07;
}

button{
	font-size: 11px !important; 
}

h5{
	font-size: 20px !important;

}

p{
	font-size: 16px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
  padding: 6px 4px;
}
